/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
    background-image: url(bg/bg.png);
    background-size: 100%;
}

header {
    background-color: #004080;
    color: #fff;
    padding: 10px;
    text-align: left; /* Align header items to the left */
}

h1 {
    margin: 0;
}

nav{
    margin-left: 200px;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav ul li:hover {
    background-color: #0066cc;
}

main {
    padding: 20px;
}

footer {
    background-color: #004080;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.social-icons {
    margin-top: 10px;
}

.icon-link {
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
}

/* Add more styles as needed */

h2 {
    color: #004080;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}

.pagination {
    position: fixed;
    bottom: 230px;
    width: 95%;
    background-color: #fff; /* Adjust the background color as needed */
    box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow at the bottom */
    padding: 10px; /* Optional: Add padding for better visibility */
}

form
{
    position: fixed;
	left:40%;
	width:290px;
	border:2px;
	padding:0px;
    max-height: 300px;  /* Set a maximum height for the section */
    overflow-y: auto;
    background-color: #004080;
}
form p
{
	margin:0px;
    background-color: #004080;
	text-align:center;
	color:#CED8F6;
	padding:10px;
	font-size:20px;
	font-style:oblique;
	cursor:pointer;
}
input[type="text"],input[type="number"]
{
	width:200px;
	margin-left:15px;
	height:35px;
	margin-top:10px;
	padding:5px;
	border-radius:5px;
	border:2px solid silver;
}
textarea
{
	width:200px;
	margin-left:15px;
	height:100px;
	margin-top:10px;
	padding:5px;
	border-radius:5px;
	border:2px solid silver;
	font-family:helvetica;
}
button[type="submit"]
{
	width:120px;
	margin-left: 80px;
	background-color:#A4A4A4;
	border:none;
	color:white;
	height:35px;
	font-size:18px;
	margin-top:10px;
	border-radius:5px;
}

button[type="submit"]:hover{
    background-color: #0066cc;
}